@import 'var';
@import 'reset';

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial;
  padding: 20px 0;
}

.container {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 3px 2px #f1f1f1;
  border-radius: 3px;
}

.flash {
  &:not(:empty) {
    display: block;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    font-size: 11px;
    margin: 10px 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.flashError {
  composes: flash;
  color: red;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

.flashSuccess {
  composes: flash;
  color: green;
  border-color: green;
  background-color: rgba(0, 255, 0, 0.1);
}

.list {
  input {
    margin: 0 10px 5px 0;
  }

  label {
    font-size: 12px;
  }
}

.label {
  font-size: 12px;
  font-weight: bold;
  color: #777;
  display: block;
  margin: 0 0 7px;
}

.labelList {
  composes: label;
  margin: 15px 0 7px;
}

.submit {
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 20px;
  display: block;
  width: 100%;
  color: #555;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: #f7f7f7;
  }

  &:disabled {
    cursor: progress;
    color: #ccc;
  }
}

